@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model LoginModel;
@{ 
    
    ViewData["Title"] = "Login Page";
    Layout = null;

}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        body {
            margin: 0px;
            padding: 0px;
            background: #1C3242;
            opacity: 0.9;
        }

        .mid-box {
            background: rgb(255,255,255);
            width: 500px;
            margin-top: 10%;
            border-radius: 5%;
        }

        .title {
            color: #335976;
            font-size: 25px;
            font-weight: 600;
        }

        .sub-title {
            color: #244055;
            font-size: 25px;
            font-weight: 559;
        }

        .inputs {
            margin-left: 10%;
            margin-right: 10%;
        }

        .form-control {
            border: none;
            border-bottom: 3px solid;
            border-color: #1C3242;
            border-radius: 0%;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }


        .btn-login {
            width: 100%;
            height: 40px;
            background-color: rgb(51, 89, 118);
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;

        }
        .error{
            color: red;
        }
    </style>
</head>


<body>
    <div class="container">

        <div class="d-flex justify-content-center align-items-center">
            <div class="mid-box ">

                <a asp-controller="Home" asp-action="index">
                <div class="d-flex justify-content-center mt-4">
                    <div class="title">
                        <p>Kultiv8 Consulting</p>
                    </div>

                </div>
                </a>
                <div class="d-flex justify-content-center ">
                    <div class="sub-title">
                        <p>LOGIN</p>
                    </div>
                </div>

                <form method="post" asp-action="Login" asp-controller="User">

                    <div class="inputs col pb-5">
                        <div class="form-floating mt-3">
                            <input asp-for="Username" class="form-control" id="floatingInput" placeholder="Username">
                            <label for="floatingInput">Username</label>
                            
                        </div>
                        <div>
                            <span class="error" asp-validation-for="Username"></span>

                        </div>
                        <div class="form-floating mt-4">
                            <input asp-for="Password" type="password" class="form-control" id="floatingInput" placeholder="Password">
                            <label for="floatingInput">Password</label>
                           
                        </div>

                        <div>
                            <span class="error" asp-validation-for="Password"></span>
                        </div>

                        @if(TempData != null)
                        {
                            <div class="error pt-2">
                                @TempData["message"]
                            </div>
                        }

                        <div class="row pt-5 ps-2 pe-2">
                            <button class="btn-login" type="submit">Login</button>

                        </div>
                       @* <div class="pt-3">
                            <p>Don't have an account? <span><a asp-action="Register" asp-controller="User"> Register</a></span></p>
                        </div>*@
                    </div>

                </form>
            </div>
        </div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>